### macOS template
.DS_Store

### JetBrains template
.idea/

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


/output/
/plots/
/plots_1d_black/
/tmp/
/archive/
/*.zip
/overflow_results/
les_closure/tmp_test_filtering.py
les_closure/valid_data/.npz
les_closure/valid_data/HIT_u.bin
les_closure/valid_data/HIT_v.bin
les_closure/valid_data/HIT_w.bin
les_closure/valid_data/LES.npz
les_closure/valid_data/README-isotropic.pdf
les_closure/valid_data/sum_stat_true.npz
overflow/plot_maps.py
overflow/plotting/plot_sweep.py
overflow/plotting/plot_x_distribution.py
pyabc/test.py
rans_ode/plots/
